body {
  width: 300px;
  height: 200px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 80px;
}

.color-block {
  width: 80px;
  height: 80px;
}

.typo-block {
  text-align: left;
  margin-bottom: 20px;
}

#colorContainer,
#typoContainer {
  display: none;
}

.show #colorContainer {
  display: flex;
}
.show #typoContainer {
  display: block;
}
.show #loading {
  display: none;
}
